<div class="container-fluid">
  <div class="well pageContent">
    <h1 class="pageHeader">WORKOUTS</h1>
    <div class="myFormGroup">
      <p ng-repeat="workout in workouts | filter:isTemplate"><a href="/admin/workouts/view/{{workout._id}}"> {{ workout.title }}</a></p>
    </div>
    
  </div>
  <div class="well">
    <a href="/admin" class="btn btn-primary profile-button"> Back to Admin </a>
    <a href="/admin/workouts/new" class="btn btn-success profile-button"> Create Workout </a>
  </div>
</div>