<div class="container-fluid">
  <div class="well pageContent">
    <h1 class="pageHeader">WORKOUT TEMPLATES</h1>
    <div class="myFormGroup">
      <p ng-repeat="workout in workouts | filter:isTemplate"><a href="/admin/workouts/view/{{workout._id}}"> {{ workout.title }}</a></p>
    </div>
    
  </div>
</div>
<div class="footer">
  <a href="/admin"><div class="col-xs-6 footer-btn btn-primary">Back to Admin</div></a>
  <a href="/admin/workouts/new"><div class="col-xs-6 footer-btn btn-success">New Workout</div></a>
</div>