<div class="container-fluid profileView" id="profileView">
  <div class=" pageContent">
    <div class="well">
      <h1 class="pageHeader"> Admin </h1>
    </div>
    <div class="well">
      <div class="form-group">
        <strong>Users: </strong><a href="admin/users"> &nbsp; {{ users.length }} </a>
      </div>
    </div>
  <div class="well">
    <div class="form-group">
      <strong>Workout Templates: </strong> <a href="admin/workouts"> &nbsp; {{ workouts.length }} </a>
    </div>
  </div>
  <!-- <div class="well">
    <a href="/admin" class="btn btn-primary profile-button"> Back to Admin </a>
  </div> -->
  </div>
</div>