
<div class="container-fluid">
  <h1> {{ currentUserFirstName }}'s Profile </h1>
  <form class="form-horizontal" id="editProfileForm" ng-submit="updateProfile()">
    <div class="form-group">
      <label for="editProfileName">Name</label>
      <input type="text" class="form-control inputField" id="editProfileName" value="{{ profile.name}}" ng-model="profile.name">
    </div>
    <div class="form-group">
      <label for="editProfileEmail">Email</label>
      <input type="email" class="form-control inputField" id="editProfileEmail" value="{{ profile.email}}" ng-model="profile.email">
    </div>
    <div class="form-group" ng-hide="if ( profile.gender )">
      <label> Gender </label>
      <div>
        <label class="radio-inline">
          <input type="radio"
                 name="profileGender"
                 id="profileGenderMale"
                 value="Male"
                 ng-model="profile.gender"> Male
        </label>
        <label class="radio-inline">
          <input type="radio"
                 name="profileGender"
                 id="profileGenderFemale"
                 value="Female"
                 ng-model="profile.gender"> Female
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="editProfileHeight">Height</label>
      <div>
        <input type="number"
               id="editProfileHeightFeet"
               class="form-control inputNumber editProfileInline"
               min="4"
               max="7"
               ng-model="profile.heightFeet">
        <strong class="editProfileInline">feet</strong>
        <input type="number"
               id="editProfileHeightInches"
               class="form-control inputNumber editProfileInline"
               min="0"
               max="11"
               ng-model="profile.heightInches">
        <strong class="editProfileInline">inches</strong>
      </div>
    </div>
    <div class="form-group">
      <label for="editProfileWeight">Weight</label>
      <input type="number" class="form-control inputNumber" id="editProfileWeight" ng-model="profile.weight">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary"></input>
    </div>
      <!-- <p class="help-block">Example block-level help text here.</p> -->
  </form>
</div>