<div class="container-fluid">
  <div id="createExercise" class="well pageContent">
  <h1 class="pageHeader">Create Exercise</h1>
  <form ng-submit="createExercise()">
    <div class="form-group">
      <label for="title">Name</label>
      <input type="text" class="form-control" id="newExerciseName" ng-model="exercise.name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="newExerciseDescription" ng-model="exercise.description"></textarea>
    </div>
    <div class="form-group" ng-repeat="image in exercise.images">
      <label for="image" ng-show="showImageLabel(image)">Images</label>
      <a class="text-success editProfileInline" ng-show="$first" ng-click="addNewImage()">
        <span class="glyphicon glyphicon-plus-sign" style="font-size: 18px;"></span>
      </a>
      <!-- btn btn-xs btn-success -->
      <div>
        <input type="url"  style="width: 85%;" class="form-control editProfileInline" ng-model="image.link" name="" placeholder="Enter an image url">
        <a class="text-danger editProfileInline" ng-hide="exercise.images.length === 1" ng-click="removeNewImage(image)">
          <span class="glyphicon glyphicon-minus-sign" style="font-size: 18px;"></span>
        </a>
      </div>
    </div>
    <div class="form-group">
      <label for="image">Video Link</label>
      <input type="url" class="form-control" id="newExerciseVideo" placeholder="" ng-model="exercise.video">
    </div>
      <a href="/exercises" class="btn btn-primary profile-button"> Back to Exercises </a>
      <button type="submit" class="btn btn-success profile-button"> Create Exercise </button>
    <!-- <button type="submit" class="btn btn-primary"> Create Exercise </button> -->
  </form>
</div>
</div>

