<div ng-controller="AuthCtrl" ng-show="$root.location !== '/'">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div >
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span  id="username" ng-show="isLoggedIn()"> Hi, {{ currentUser.firstName}} &nbsp; <span style="font-size: 14px;" class="glyphicon glyphicon-menu-hamburger"></span> </span>
        </button>
        <a class="navbar-brand" href="/profile/workouts"> <strong> Personal Trainer </strong></a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/workouts" 
               class="nav-item"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">Workouts</a></li>
        <li><a href="/exercises" 
               class="nav-item"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">Exercises</a></li>
        <li><a href="/profile" 
               class="nav-item"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">Profile</a></li>
        <li><a href="" 
               class="nav-item"
               ng-click="logout()"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">Logout</a></li>
        <div role="separator" 
             ng-show="currentUser.isAdmin"
             style="margin-top:5px;
                    margin-bottom:5px;
                    height:1px;
                    width:100%;
                    border-top:1px solid gray;
                    clear: both;"></div>
        <li><a href="/admin" 
               class="nav-item"
               ng-show="currentUser.isAdmin"
               data-toggle="collapse"
               data-target=".navbar-collapse.in"><strong>Admin Home</strong></a></li>
        <li><a href="/admin/users" 
               class="nav-item"
               ng-show="currentUser.isAdmin"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">Users</a></li>
        <li><a href="/admin/workouts" 
               class="nav-item"
               ng-show="currentUser.isAdmin"
               data-toggle="collapse"
               data-target=".navbar-collapse.in">Workouts</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>
