
<div class="container-fluid profileView" id="profileView">
  <div class=" pageContent">
    <div class="well">
    <h1 class="pageHeader"> User Profile </h1>
    <div class="form-group">
      <strong>Name: </strong> {{ profile.name }}
    </div>
    <div class="form-group">
      <strong>Email: </strong> {{ profile.email }}
    </div>
    <div ng-hide="profile.gender">
      <div class="form-group">
        <strong>Gender: </strong> Not Set
      </div>
    </div>
    <div ng-show="profile.gender">
      <div class="form-group">
        <strong>Gender: </strong> {{ profile.gender }}
      </div>
    </div>
    <div ng-hide=" profile.heightFeet && profile.heightFeet > 0">
      <div class="form-group">
        <strong>Height: </strong> Not Set
      </div>
    </div>
    <div ng-show="profile.heightFeet && profile.heightFeet > 0">
      <div class="form-group">
        <strong>Height: </strong> {{profile.heightFeet}} &apos; {{profile.heightInches}} &quot;
      </div>
    </div>
    <div ng-hide="profile.weight">
      <div class="form-group">
        <strong>Weight: </strong> Not Set
      </div>
    </div>
    <div ng-show="profile.weight">
      <div class="form-group">
        <strong>Weight: </strong> {{ profile.weight }} lbs.
      </div>
    </div>
      <!-- <p class="help-block">Example block-level help text here.</p> -->
  </div>
  <div class="panel-group" role="tablist" aria-multiselectable="true">
    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#userProfileGym" aria-expanded="true" aria-controls="collapseOne">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
              <strong>Primary Gym:</strong> Rain City Fit &nbsp; <span class="glyphicon glyphicon-chevron-down"></span>
          </h4>
        </div>
      </div>
    </a>
    <div id="userProfileGym" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-group">
          <strong>Primary Trainer: </strong> Ben K.
        </div>
        <div class="form-group">
          <strong>Email </strong> benk@raincityfit.com
        </div>
        <div class="form-group">
          <strong>Phone </strong> (555) 555-1234
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <a href="/profile/edit" class="btn btn-primary profile-button"> Edit Profile </a>
    <!-- <a href="/profile/change-password" class="btn btn-success profile-button"> Change Password </a> -->
  </div>
  </div>
</div>