<div class="container-fluid exerciseView">
  <div id="createExercise" class="well pageContent">
    <h1 class="pageHeader">{{workout.title}} </h1>
  </div>
  <div class="well">
    <strong>Description</strong>
    <p>{{workout.description}}</p>
  </div>
  <div class="panel-group" id="workoutAccordion" role="tablist"
       aria-multiselectable="true">
    <a class="collapsed" role="button" data-toggle="collapse"
       data-parent="#workoutAccordion" data-target="#collapseWarmup"
       aria-expanded="false" aria-controls="collapseWarmup" ng-show="workout.warmups.length > 0"
       ng-click="expanded('warmup')">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <span ng-class="(warmupExpanded) ? ['glyphicon-chevron-up','glyphicon'] : ['glyphicon-chevron-down', 'glyphicon']"></span> Warmup
          </h4>
        </div>
      </div>
    </a>
    <div id="collapseWarmup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-group" ng-repeat="warmup in workout.warmups">
          <img class="myImgThumbnail" ng-src="{{exercises[0].images[0].link}}" style="display: inline-block">
          <div style="display: inline-block; padding-left: 10px;">
            <h2>{{ exercises[0].name}}</h2>
            <p><span> Sets: {{warmup.sets}}</span> &nbsp; <span>Reps: {{warmup.reps}}</span></p>
          </div>
        </div>        
      </div>
    </div>
    <a class="collapsed" role="button" data-toggle="collapse" 
       data-parent="#workoutAccordion" data-target="#collapseWorkout"
       aria-expanded="false" aria-controls="collapseWorkout" ng-show="workout.workouts.length > 0"> 
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo" ng-click="expanded('workout')">
          <h4 class="panel-title">
            <span ng-class="(workoutExpanded) ? ['glyphicon-chevron-up','glyphicon'] : ['glyphicon-chevron-down', 'glyphicon']"></span> Workout
          </h4>
        </div>
      </div>
    </a>
    <div id="collapseWorkout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="form-group" ng-repeat="workout in workout.workouts">
          <img class="myImgThumbnail" ng-src="{{exercises[0].images[0].link}}" style="display: inline-block">
          <div style="display: inline-block; padding-left: 10px;">
            <h2>{{ exercises[0].name}}</h2>
            <p><span> Sets: {{workout.sets}}</span> &nbsp; <span>Reps: {{workout.reps}}</span></p>
          </div>
        </div>     
      </div>
    </div>
    <a class="collapsed" role="button" data-toggle="collapse"
       data-parent="#workoutAccordion" data-target="#collapseCooldown"
       aria-expanded="false" aria-controls="collapseCooldown" ng-show="workout.cooldowns.length"
       ng-click="expanded('cooldown')">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <span ng-class="(cooldownExpanded) ? ['glyphicon-chevron-up','glyphicon'] : ['glyphicon-chevron-down', 'glyphicon']"></span>Cooldown
          </h4>
        </div>
      </div>
    </a>
    <div id="collapseCooldown" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="form-group" ng-repeat="cooldown in workout.cooldowns">
          <img class="myImgThumbnail" ng-src="{{exercises[0].images[0].link}}" style="display: inline-block">
          <div style="display: inline-block; padding-left: 10px;">
            <h2>{{ exercises[0].name}}</h2>
            <p><span> Sets: {{cooldown.sets}}</span> &nbsp; <span>Reps: {{cooldown.reps}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>    
  <div class="well">
    <a href="/exercises" class="btn btn-primary profile-button"> Back to Workouts </a>
    <a href="" class="btn btn-danger profile-button" ng-click="deleteExercise(exercise)"> Delete Exercise </a>
  </div>
</div>
